@import "variables.css";
@import "reset.css";
@import "typography.css";
@import "layout.css";
@import "components.css";
@import "sections.css";
@import "responsive.css";

/* MAIN PAGE PREF */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







/* HEADER */




header {
    width: 100%;
    background-color:rgb(255, 255, 255);
    padding: 30px 0;
    top: 0;
}

.main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: .3s ease;
}

nav a:hover{
    color: #ffffff;
}

nav {
    display: block;
}


.burger{
    display: none;
}

.logo{
    margin-left: 100px;
}


.burger{
    width: 35px;
    height: 25px;

    display: none;

    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
}

.burger span{
    width: 100%;
    height: 3px;

    background: #222;

    border-radius: 20px;

    transition: .3s;
}


.burger.active span:nth-child(1){
    transform: rotate(45deg) translateY(11px);
}

.burger.active span:nth-child(2){
    opacity: 0;
}

.burger.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-11px);
}


@media (max-width:768px){

    nav{
        position: fixed;
        top: 72px;
        left: -100%;

        width: 100%;
        height: calc(100vh - 72px);

        background: rgb(188,245,188);

        display: flex;
        justify-content: center;
        align-items: center;

        transition: left .3s ease;
    }

    nav.active{
        left:0;
    }

    nav ul{
        flex-direction: column;
        gap:40px;
    }

    .burger{
        display:flex;
    }

}



/* BODY */


.hero {
    /* background-image: url(../img/grass3.jpg); */
    background-color: #cccccc;
    padding: 70px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero__content {
    flex: 1;
    max-width: 560px;
}

.hero__image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero__image img {
    max-width: 100%;
    height: auto;
}

.hero__title {
    font-size: 64px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}

.hero__title span {
    color: #4aa8ff;
}

.hero__tabs {
    display: flex;
    width: fit-content;
    background: #dfe4ea;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 20px;
}

.hero__tabs button {
    padding: 18px 48px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
}

.hero__tabs .active {
    background: #fff;
    font-weight: 600;
}

.hero__info {
    margin-bottom: 35px;
    margin-left: 20px;
    color: #666;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.hero__btn {
    display: inline-block;
    background: #4aa8ff;
    color: #fff;
    padding: 18px 50px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
}