<div class="main_container">
    <a href='#' class="logo">
        Logo here
    </a>
    
    
    
    <nav class="navbar" id="navbar">
        <ul class="nav_links">
            <li><a href='#'>Home</a></li>
            <li><a href='#'>About</a></li>
            <li><a href='#'>Certifications</a></li>
            <li><a href='#'>Prize</a></li>
            <li><a href='#'>Contacts</a></li>
        </ul>
    </nav>


    <div class="burger" id="burger">
        <span></span>
        <span></span>
        <span></span>



    </div>
</div>