<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>  
    <header>
        {% include 'header.html'%}
    </header>


<section class="hero">
  <div class="container hero__container">

    <div class="hero__content">
      <h1 class="hero__title">
        Консультації<br>
        з психологом онлайн:
        <span>обери безпеку</span>
      </h1>

      <div class="hero__tabs">
        <button class="active">Для себе</button>
        <button>Для двох</button>
      </div>

      <p class="hero__info">50 хв · від 1000 грн</p>

      <a href="#" class="hero__btn">
        Більше про пропозицію
      </a>
    </div>

    <div class="hero__image">
      <img src="img/hero.png" alt="">
    </div>

  </div>
</section>

<script src="../static/js/script.js"></script>
</body>